.App {
  text-align: center;
  display: block;
}
.bold {
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.header {
  background-color: #F55A5A;
  color: #FFFFFF;
  height: auto;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;

}
.header--title {
  margin: auto;
}

.card--body {
  display: flex;
  padding: 5px 5px;
  
}
.card--img {
  width: 200px;
  height: 200px;
}
.card--logo{
  flex : 1;
  height: 20px;
  
}

.card--describe {
  flex : 1;
  
}
.card--place {
  display: flex;
  justify-content: space-around;
  
}

.place--item {
  padding: 0 5px;
  
  
}
.card--place > h3 {
  flex: 1;
  margin: 0;
}
.card--place > a {
  flex: 20;
  text-align: start;
  
}

.card--text {
  text-align: start;
  padding: 0 5px;
}
.card--text > p {
  margin: 5px;
}

.card--text > h1 {
  margin-top : 3px
}